# Here we will give our story as input to predict the story point for it

In [1]:
# Standard imports
import pandas as pd
import numpy as np
import pickle

In [2]:
# Suppose this is our input story
story="As a Data Engineet I want to look for all the null values and clean them"

## Preprocessing

In [3]:
# Lower Casing, Stopwords removal, Tokenization, Stemming
story=story.lower()
from nltk.corpus import stopwords
sw=stopwords.words('english')

In [4]:
def remove_stopwords(text):
    doc=[]
    for word in text.split():
        if word not in sw:
            doc.append(word)
    return ' '.join(doc)

In [5]:
story=remove_stopwords(story)

In [6]:
# Tokenize
from nltk.tokenize import word_tokenize
story=word_tokenize(story)

In [7]:
story

['data', 'engineet', 'want', 'look', 'null', 'values', 'clean']

In [8]:
#Stemming
from nltk.stem import PorterStemmer
ps=PorterStemmer()
story=' '.join(ps.stem(word) for word in story)

In [9]:
story

'data engineet want look null valu clean'

In [10]:
# We need to preprocess the input and
# We will need to load the tranformer and model
f=open('tfidf_trans.trans','rb')
ar_tfidf=pickle.load(f)
f.close()

In [11]:
# Load rfr prediction model
f=open('rfr.model','rb')
rfr_model=pickle.load(f)
f.close()

In [12]:
df=pd.DataFrame(columns=['story','role'],index=[0])

In [13]:
df

  story role
0   NaN  NaN

In [14]:
df['story'][0]=story

In [15]:
df['role']=3

In [16]:
df

                                     story  role
0  data engineet want look null valu clean     3

In [17]:
X_input=ar_tfidf.transform(df['story']).toarray()

In [18]:
X_input.shape

(1, 2217)

In [19]:
column_names=[str(i) for i in range(X_input.shape[1])]

In [20]:
pred_df=pd.DataFrame(data=X_input,columns=column_names)

In [21]:
pred_df['role']=df['role']

In [22]:
pred_df

,0,1,2,3,4,5,6,7,8,9,...,2208,2209,2210,2211,2212,2213,2214,2215,2216,role
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [23]:
y_pred=rfr_model.predict(pred_df)

In [24]:
y_pred

array([32.612])